<ion-view view-title="Add a new task">
  <ion-content>
    <form ng-submit="addTask()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Task title</span>
          <input type="text" placeholder="Task" ng-model="task.title">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
