<ion-view view-title="All tasks">

  <ion-content>

    <div class="item item-divider" ng-if="(tasks|filter:{done:true}).length > 0">
      Done
    </div>
    <ion-list>
      <ion-item ng-repeat="task in tasks | filter : {done : true}" ng-model="task.done" class="checkbox-stable">
        <div class="item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="task.done" />
          </label>
          <span class="done-task">{{task.title}}</span>
        </div>
      </ion-item>
    </ion-list>

    <div class="item item-divider" ng-if="(tasks|filter:{done:false}).length > 0">
      Not done
    </div>
    <ion-list>
      <ion-item ng-repeat="task in tasks | filter : {done : false}" ng-model="task.done" class="checkbox-positive">
        <div class="item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="task.done" />
          </label>
          {{task.title}}
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
